<ion-view view-title="Browse Our Inventory">
  <ion-content>
    <ion-list>
    	<ion-item>
    	Tractors
        <span class="badge badge-dark">62</span>
    	</ion-item>
    	<ion-item>
    	Cotton Strippers
        <span class="badge badge-stable">0</span>
    	</ion-item>
    	<ion-item>
    	Compact Tractors
    	</ion-item>
    	<ion-item>
    	Self Propelled Sprayers
    	</ion-item>
    	<ion-item>
    	RTK / GPS
    	</ion-item>
    	<ion-item>
    	XUVS / Gators
    	</ion-item>
    	<ion-item>
    	Cotton Harvest Equipment
    	</ion-item>
    	<ion-item>
    	Grain Harvest Equipment
    	</ion-item>
    	<ion-item>
    	Hay Equipment
    	</ion-item>
    	<ion-item>
    	Planting - Cotton
    	</ion-item>
    	<ion-item>
    	Planting - Grain
    	</ion-item>
    	<ion-item>
    	Fertilizer Applicators
    	</ion-item>
    	<ion-item>
    	Material Handling
    	</ion-item>
    	<ion-item>
    	Shredders &amp; Rotary Hoes
    	</ion-item>
    	<ion-item>
    	3PT Sprayers
    	</ion-item>
    	<ion-item>
    	Trailer Sprayers
    	</ion-item>
    	<ion-item>
    	Tillage
    	</ion-item>
    	<ion-item>
    	Nurse Trailers
    	</ion-item>
    	<ion-item>
    	Riding Mowers
    	</ion-item>
    	<ion-item>
    	Fertilizer Attachments
    	</ion-item>
    	<ion-item>
    	Planter Attachments
    	</ion-item>
    	<ion-item>
    	Duals / Rims / Tires
    	</ion-item>
    	<ion-item>
    	Tillage Attachments
    	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
