<ion-view view-title="Blog Post Title">
	<ion-content>
	<img class="full-image" src="http://lorempixel.com/500/300">
	
	<article class="post">
		<header>
			<h2>Blog Post Title</h2>
			<div class="date"><span class="subdued">Published on:</span>Jan. 5, 2016</div>
			<div class="categories"><span class="subdued">Categories: </span>One, Two, Three</div>
		</header>
		<main>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum feugiat leo, quis congue tortor gravida et. Phasellus eleifend venenatis eros vel scelerisque. Donec eget est id leo interdum viverra nec interdum libero. </p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum feugiat leo, quis congue tortor gravida et. Phasellus eleifend venenatis eros vel scelerisque. Donec eget est id leo interdum viverra nec interdum libero. </p>

			<h3>some sub title</h3>
			<ul>
				<li>List Item</li>
				<li>List Item</li>
				<li>List Item</li>
				<li>List Item</li>
				<li>List Item</li>
			</ul>
		</main>

	</article>
	
	</ion-content>

</ion-view>