<ion-view view-title="Latest News">
  <ion-content>
  	<ion-list>
		<ion-item>
		<div class="article-summary-item">
			<img src="http://lorempixel.com/75/75" alt="">
			<h2>Article Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum...</p>
			<a href="#/app/news/1001" class="button button-dark button-small">Continue reading...</a>
		</div>
		</ion-item>
		<ion-item>
		<div class="article-summary-item">
			<img src="http://lorempixel.com/75/75" alt="">
			<h2>Article Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum...</p>
			<a href="#/app/news/1002" class="button button-dark button-small">Continue reading...</a>
		</div>
		</ion-item>
		<ion-item>
		<div class="article-summary-item">
			<img src="http://lorempixel.com/75/75" alt="">
			<h2>Article Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum...</p>
			<a href="#/app/news/1003" class="button button-dark button-small">Continue reading...</a>
		</div>
		</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>
