<ion-view view-title="Service Request">
  <ion-content>
   <div class="list list-inset">
  		<ion-item class="item item-input item-select">
			<div class="input-label">
				Which Service Location?
			</div>
			<select name="" id="">
				<option value="">Abernathy</option>
				<option value="">Lorenzo</option>
				<option value="">Lubbock</option>
				<option value="">Slaton</option>
				<option value="">Snyder</option>
			</select>
		</ion-item>

		<label class="item item-input">
		    <textarea name="" id="" cols="30" rows="10"></textarea>
		</label>

		<div class="item item-input-inset" ng-controller="BarcodeScannerController">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Serial Number">
		    </label>
		    <button class="button icon ion-camera" ng-click="scanBarcode()">
		      
		    </button>
  		</div>
		<button class="button button-block button-positive">
		  Submit Request
		</button>
</div>
  </ion-content>
</ion-view>
