<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
    	<ion-item class="item item-divider">
    		User Information
    	</ion-item>
    	<label class="item item-input">
		    <input type="text" placeholder="John">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Doe">
		  </label>
		  <label for="" class="item">
		  	<button class="button button-block button-positive">Change Password</button>
		  </label>
		  <ion-item class="item item-divider">
    		User Preferences
    	</ion-item>
		  <ion-item class="item item-input item-select">
			<div class="input-label">
				Preferred Service Location
			</div>
			<select name="" id="">
				<option value="">Abernathy</option>
				<option value="">Lorenzo</option>
				<option value="">Lubbock</option>
				<option value="">Slaton</option>
				<option value="">Snyder</option>
			</select>
		</ion-item>
		<ion-item class="item item-toggle">
			Location Access
			<label class="toggle toggle-possitive">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		</ion-item>
		<ion-item class="item item-toggle">
			Push Notifications
			<label class="toggle toggle-possitive">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
